<aside class="sidebar">
    <div class="sidebar__scrollable">
        {% if posts %}
            <ul class="category-list">
                {% set currentCategory = null %}
                {% for blogPost in posts %}

                    {% if currentCategory != blogPost.categories[0] %}

                        {% if loop.index0 > 0 %}
                                    </ul>
                                </div>
                            </li>
                        {% endif %}

                        <li class="category-list__item">
                            <a href="{{ blogPost.categories[0].link }}" class="category-list__heading">{{ blogPost.categories[0] }}</a>
                            <div class="posts-list__wrapper">
                                <ul class="posts-list">
                    {% endif %}

                                    <!--<li class="{{'posts-list__item'|apply_filters('post_list_item_classes', blogPost.id)}}">-->
                                    <li class="posts-list__item {% if blogPost.id == post.id %} posts-list__item--active {% endif %}">
                                        <a href="{{ blogPost.link }}">
                                            <time>{{ blogPost.post_date|date('D j F k\\l. H:i') }}</time>
                                            {{ blogPost.title }}
                                        </a>
                                    </li>


                    {% set currentCategory = blogPost.categories[0] %}
                {% endfor %}
                        </ul>
                    </div>
                </li>

            </ul>
        {% endif %}
        <!--
        <ul class="category-list">
            <li class="category-list__item">
                <a href="#" class="category-list__heading">游젏릖 Karlstad</a>
                <div class="posts-list__wrapper">
                    <ul class="posts-list">
                        <li class="posts-list__item">
                            <a href="#">
                                <time>M친n 25 juni kl. 08:47</time>
                                Lorem ipsum
                            </a>
                        </li>
                        <li class="posts-list__item">
                            <a href="#">
                                <time>M친n 25 juni kl. 08:47</time>
                                Lorem ipsum dolor
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="category-list__item category-list__item--active">
                <a href="#" class="category-list__heading">游젏릖 G칬teborg</a>
                <div class="posts-list__wrapper">
                    <ul class="posts-list" style="margin-top: 0;">
                        <li class="posts-list__item">
                            <a href="#">
                                <time>Tors 5 juli kl. 06:30</time>
                                Snart 친ker jag!                        
                            </a>
                        </li>
                        <li class="posts-list__item posts-list__item--active">
                            <a href="#">
                                <time>Tors 5 juli kl. 06:30</time>
                                V칛ntar vid stationen...
                            </a>
                        </li>
                        <li class="posts-list__item">
                            <a href="#">
                                <time>Tors 5 juli kl. 06:30</time>
                                P친 v칛g mot G칬teborg!
                            </a>
                        </li>
                        <li class="posts-list__item">
                            <a href="#">
                                <time>Tors 5 juli kl. 06:30</time>
                                Lorem ipsum dolor sit amet l친ng rubrik        
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="category-list__item">
                <a href="#" class="category-list__heading">游젏릖 Malm칬</a>
                <div class="posts-list__wrapper">
                    <ul class="posts-list">
                        <li class="posts-list__item">
                            <a href="#">
                                <time>M친n 25 juni kl. 08:47</time>
                                Lorem ipsum
                            </a>
                        </li>
                        <li class="posts-list__item">
                            <a href="#">
                                <time>M친n 25 juni kl. 08:47</time>
                                Lorem ipsum dolor
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="category-list__item">
                <a href="#" class="category-list__heading">游뾇릖 K칬penhamn</a>
                <div class="posts-list__wrapper">
                    <ul class="posts-list">
                        <li class="posts-list__item">
                            <a href="#">
                                <time>M친n 25 juni kl. 08:47</time>
                                Lorem ipsum
                            </a>
                        </li>
                        <li class="posts-list__item">
                            <a href="#">
                                <time>M친n 25 juni kl. 08:47</time>
                                Lorem ipsum dolor
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        -->
    </div>
    
    <div class="sidebar__timeline"></div>
</aside>